<div id="menu">
	<p class="item">
		<%= link_to("Home",:controller => "home",:action => "index") %>
	</p>
	<p class="item">
		<%= link_to("Patterns",:controller => "patterns",:action => "index") %>
	</p>
	<p class="item">
		<%= link_to("News & Events",:controller => "home",:action => "index") %>
	</p>
	<p class="item">
		<%= link_to("Quiltkitties' Picks",:controller => "home",:action => "index") %>
	</p>
	<p class="item">
		<%= link_to("Subscribe",:controller => "home",:action => "index") %>
	</p>
	<p class="item">
		<%= link_to("Contact",:controller => "home",:action => "index") %>
	</p>
	<p class="item">
		<%= link_to("About Us",:controller => "home",:action => "index") %>
	</p>

</div>
	